@font-face {
  font-family: "LINESeed";
  src: url("/fonts/LINESeedKR-Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LINESeed";
  src: url("/fonts/LINESeedKR-Rg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LINESeed";
  src: url("/fonts/LINESeedKR-Th.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "LINESeed", sans-serif;
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #460b05;
  --sl-color-accent: #c60e00;
  --sl-color-accent-high: #feb3a6;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #f3ecea;
  --sl-color-gray-2: #c8c0be;
  --sl-color-gray-3: #978784;
  --sl-color-gray-4: #635451;
  --sl-color-gray-5: #423432;
  --sl-color-gray-6: #302321;
  --sl-color-black: #1d1715;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #fbc6d4;
  --sl-color-accent: #ff8b9e;
  --sl-color-accent-high: #60022e;
  --sl-color-white: #330213;
  --sl-color-gray-1: #4d0020;
  --sl-color-gray-2: #6c002f;
  --sl-color-gray-3: #9b204c;
  --sl-color-gray-4: #d85b7e;
  --sl-color-gray-5: #efadbb;
  --sl-color-gray-6: #ffe7eb;
  --sl-color-gray-7: #fff3f5;
  --sl-color-black: #ffffff;
}
