@font-face {
  font-family: "LINESeed";
  src: url("/fonts/LINESeedKR-Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LINESeed";
  src: url("/fonts/LINESeedKR-Rg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LINESeed";
  src: url("/fonts/LINESeedKR-Th.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "LINESeed", sans-serif;
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #262323;
	--sl-color-accent: #726765;
	--sl-color-accent-high: #ccc7c7;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeeed;
	--sl-color-gray-2: #c2c2c1;
	--sl-color-gray-3: #8c8b89;
	--sl-color-gray-4: #585856;
	--sl-color-gray-5: #383836;
	--sl-color-gray-6: #272725;
	--sl-color-black: #181817;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #d9d6d5;
	--sl-color-accent: #746867;
	--sl-color-accent-high: #363130;
	--sl-color-white: #181817;
	--sl-color-gray-1: #272725;
	--sl-color-gray-2: #383836;
	--sl-color-gray-3: #585856;
	--sl-color-gray-4: #8c8b89;
	--sl-color-gray-5: #c2c2c1;
	--sl-color-gray-6: #eeeeed;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;
}